// get translate to dist/css/main.css nu node_modules
// node-sass provide auto reload in dist/css/main.css

$primary-color: #444; // declare a variable
$secondary-color: #eece1a;

// @mixin is like a function, used multiple times
@mixin easeOut {
  transition: all 0.5s ease-out; // target time how
}

* {
  // use * to select everything in scss
  box-sizing: border-box; // include padding and border inside width and height
}

body {
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Seagoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; // space between lines
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; // make font thiner

  &.lg-heading {
    // attach to h1 h2 h3, not like .lg-heading which is within
    font-size: 6rem; // multiply default font-size of html by 6 (each rem is 1 default)
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; // top&bot left&right
    background: rgba(
      lighten($primary-color, 2),
      0.5
    ); // make backgound of sm-heading lighter
    // rgba to be able to see through
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed; // make header stays at top even if you screw done the screen
  z-index: 2; // how close to you an elem is, 0 behind 1, 1 behind 2...
  width: 100%; //always stretch across the whole screen
}

.text-secondary {
  // to target a class, last name
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    // only effect icons inside main
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color; // icon change color to yellow when hover
        @include easeOut(); // use @mixin function easeOut
      }
    }
  }
}
